#app {
    background: rgb(30, 45, 59);
    min-height: 100vh;
  }
  
.header-container{
    background-color: rgb(46, 58, 70);
    height: 60px;
    margin-bottom: 50px; ;
    display: flex;
    align-items: center;
}

.col>img{
    width: 50px;
  }


.col-2{
    margin: 40px 15px;
    padding: 20px;
    text-align: center;
    background: rgb(46, 58, 70);
    color: rgb(136, 130, 126);
}
.container-img{
    height: 190px;
}

.col-2 img{
    width: 100%;
}
h4{
    margin: 0 0  20px 0;
    color: white
};

